<%= form_for @booking do |f| %>

  <% @booking.errors.full_messages.each do |error| %>
    <p class="field_with_errors"><%= error %></p>
  <% end %>


  <%= f.label :customer_name %>
  <%= f.text_field :customer_name %>

  <%= f.label :destination %>
  <%= f.text_field :destination %>

  <%# f.label :bob   %>
  <%# f.text_field :bob  %>

  <%= f.label :start_at %>
  <%= f.date_field :start_at %>

  <%= f.label :end_at %>
  <%= f.date_field :end_at %>

  <%= f.submit %>
<% end %>
